img {
    width: 8%;
    color: #ffff;
}
.navbar {
  background-color:  rgba(214, 165, 165, 0.456);
  
}
.navbar-light .navbar-nav .nav-link {
    color: #ffff
}
.container h1 {

  text-align: center;
}
.footer {
  background-color:  rgba(214, 165, 165, 0.456);
}